*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #E5C287;
}

.outer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cardhead {
    background-color:  #898121;
    color: white;
    padding: 10px;
    margin: 10px;
    width: 85%;
    display: flex;
    justify-content: center;
}

.cardlist {
    width: 100%;
    display: flex;
    justify-content: center;
}

